h1 {
    color: green;
}

h2 {
    color: blue;
}

h3 {
    color: blueviolet;
}

h4 {
    color: chartreuse;
}

h5{
    color: darkblue;
    font-size: 40px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
}